@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
*:focus {outline: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p, blockquote,th,td {margin:0; padding:0;}  
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
input{vertical-align:middle}
strong{font-weight:bold;}
/*dl,dt,dd,p,ol,ul,li{white-space:normal; word-wrap:break-word; overflow:hidden;}*/


/************************************
*  Common multi style
************************************/
.divEmpty{height:0px; overflow:hidden;}
.divClear, .clear{clear:both}
.left{float:left}
.right{float:right; font-weight:normal;}
.more{float:right; font-weight:normal;}
.time{float:right; font-weight:normal;}
.red{color:#FF0000}
.bold{font-weight:bold}
.aLeft{text-align:left !important;}
.aCenter{text-align:center !important;}
.aRight{text-align:right !important;}
.vTop{vertical-align:top;}
.vMiddle{vertical-align:middle;}
.vBottom{vertical-align:bottom;}
.noDisplay{display:none;}
.noMargin{margin:0 !important;}
.noPadding{padding:0 !important;}
.noBg{background:none !important;}
