#page .pagination {border-top:1px solid #dfdfdf; padding-top: 10px; text-align: left; margin-bottom: 10px; font-size: 10px;}
.pagination a ,.pagination a.number {margin: 0 5px 0 0; padding: 0px 6px; border: 1px solid #d0d0d0;}
.pagination a:hover,.pagination a.current {border-color: #000 !important; color: #000 !important;}